<div class="container center">
  <div id="card" class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/9798022_300x300" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Üdvözlet a TO-DO Appon!</h5>
    <p class="card-text">Az applikáció arra a célra szolgál, hogy a fontos teendőinket feljegyezzük.</p>
    <a href="/todo/" type="button" class="btn btn-default btn-warning buttonEdit">
      Kezdés!
    </a>
  </div>
</div>
</div>
